<%- include ('header') %>

<div class="postList">
    <!-- we'll iterate through all the user's posts and put them in...-->
    <!-- let's put these in some kind of flexbox or grid, too -->
    <div id="postLabel"><%= userData.username %>'s Page</div>

    <% if (userData.userID == sessionData.sessionID) { %>
        <div><a href="http://localhost:3000/post">Write a new post</a></div>
    <% } %>

    <% if (posts.length > 0) { %>
        <% posts.forEach(item => { %>
            <div id="post">
                <p><%= item.date %></p>
                <a id="postlink" href="http://localhost:3000/posts/<%=item.postID%>" target="_self"><%= item.title %></a>
                <p><%- bbcode.parse(item.body) %></p>
            </div>
        <% }) %>
    <% } %>

</div>

<%- include ('footer') %> 